//PULLDOWN TO PREVENT FLOATING

NET "playerUp" LOC = P99 | IOSTANDARD = LVTTL | PULLDOWN;
NET "playerDown" LOC = P100 | IOSTANDARD = LVTTL | PULLDOWN;
NET "playerLeft" LOC = P101 | IOSTANDARD = LVTTL | PULLDOWN;
NET "playerRight" LOC = P102 | IOSTANDARD = LVTTL | PULLDOWN;

NET "dataline" l bLOC = P97 | IOSTANDARD = LVTTL;
